@font-face {
    font-family: 'Norwester';
    src: url('../fonts/Norwester/norwester.ttf') format('truetype'),
        url('../fonts/Norwester/norwester.otf') format('OpenType Font'),
        url('../fonts/Norwester/norwester.woff') format('Web Open Font Format');
}

@font-face {
    font-family: 'RubikR';
    src: url('../fonts/Rubik/Rubik-Regular.ttf') format('truetype');
}

:host {
    background-color: var(--black-variant);
}

:root {
    --blue: #1A20B3;
    --purple: #752877;
    --white: #FFFFFF;
    --black: #000000;
    --black-variant: #252525;
    --form: #CCCCCC;
    --legend: #D9D9D9;
    --validar: rgba(102, 204, 102, 1);
    --nulo: rgba(204, 102, 102, 1);
    --black-variant-2: #131313;
    --primaryfont: 'Norwester';
    --secondaryfont: 'RubikR'
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}



.flex-sb {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-cc {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    scroll-behavior: smooth;
    min-height: 100vh;
}

body {
    min-height: 100vh;
}

.inicio {
    width: 100%;
    height: 100vh;
    background-color: var(--black);
}

.inicio div {
    color: var(--white);
    font-family: var(--secondaryfont);
    text-align: center;
    overflow: auto;
}

.inicio div p {
    font-size: larger;
    margin-bottom: 30px;
}

.inicio div input {
    outline: none;
    background-color: var(--purple);
    color: var(--white);
    padding-left: 15px;
    border-radius: 30px;
    border: 1px solid var(--purple);
    height: 3rem;
    width: 70%;
    font-family: var(--secondaryfont);
}

.ctn {
    width: 100%;
    height: 100vh;
    background-color: var(--black-variant);
}

.btn {
    width: 30%;
    height: 7rem;
    background-color: var(--black);
    color: var(--white);
    outline: none;
    border-radius: 40px;
    font-family: var(--secondaryfont);
    cursor: pointer;
    font-size: large;
}

.btn:active {
    transform: translateY(5px);
}

.btn-p {
    width: 70%;
    height: 3rem;
    background-color: var(--black);
    color: var(--white);
    outline: none;
    border-radius: 40px;
    font-family: var(--secondaryfont);
    cursor: pointer;
    margin: 0px auto;
    margin-top: 20px;
}

p#Continuar {
    margin-bottom: 0px;
}

.none {
    display: none;
}

.lista-reproductor {
    width: 20%;
    height: 40rem;
    border: 1px solid var(--white);
    border-radius: 30px;
}

.musicplayer {
    width: 100%;
    height: 100vh;
    background-color: var(--black-variant-2);
}

.reproductor {
    width: 50%;
    height: 40rem;
    border: 1px solid var(--white);
    border-radius: 30px;
    background-color: var(--black-variant);
    position: relative;
    display: inline-block;
    margin-left: 5rem;
}

p#titulo_song {
    color: var(--white);
    text-align: center;
    margin: 30px auto;
    font-family: var(--secondaryfont);
    font-size: large;
}

img#song_image {
    display: block;
    margin: 0px auto;
    width: 40rem;
    height: 22rem;
    margin-top: 60px;
    border-radius: 15px;
}

.botones {
    position: absolute;
    width: 100%;
    height: 4rem;
    bottom: 20px;
}

.botones svg {
    cursor: pointer;
}

.tiempo-music {
    width: 100%;
    height: 2rem;
    position: absolute;
    bottom: 6rem;
}

progress#progress {
    height: 0.8rem;
    background-color: var(--black);
    width: 60%;
    border-radius: 30px;
}

.icons {
    margin-top: 20px;
}

svg {
    cursor: pointer;
}

.volumen {
    width: 10%;
    height: 40rem;
    border: 1px solid var(--white);
    border-radius: 30px;
    background-color: var(--black-variant);
    position: relative;
    display: inline-block;
}