@font-face {
    font-family: 'Norwester';
    src: url('../fonts/Norwester/norwester.ttf') format('truetype'),
        url('../fonts/Norwester/norwester.otf') format('OpenType Font'),
        url('../fonts/Norwester/norwester.woff') format('Web Open Font Format');
}

@font-face {
    font-family: 'RubikR';
    src: url('../fonts/Rubik/Rubik-Regular.ttf') format('truetype');
}

:root {
    --blue: #1A20B3;
    --purple: #752877;
    --white: #FFFFFF;
    --black: #000000;
    --black-variant: #252525;
    --form: #CCCCCC;
    --legend: #D9D9D9;
    --validar: rgba(102, 204, 102, 1);
    --nulo: rgba(204, 102, 102, 1);
    --black-variant-2: #131313;
    --primaryfont: 'Norwester';
    --secondaryfont: 'RubikR'
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0px;
    margin: 0px
}

body {
    transform-style: preserve-3d;
    transition: all .5s;
}

p {
    font-family: var(--secondaryfont);
    text-align: center;
    color: var(--white)
}

.grid {
    display: grid;
    grid-template-columns: [uno] 13.7rem [dos] 13.7rem [tres] 13.7rem [cuatro] 13.7rem [cinco] 13.7rem [seis] 13.7rem [siete];
    grid-template-rows: [uno] 17rem [dos] 17rem [tres];
    gap: 1rem;
    grid-template-areas: 
    "card1 card2 card3 card4 card5 card6 card7"
    "card8 card9 card10 card11 card12 card13 card14"
    ;
}

.flex-sb {
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

.flex-cc {
    display: flex;
    justify-content: center;
    align-items: center
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    min-height: 100svh;
}

.ctn {
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    background-color: var(--black-variant);
}

.btn {
    width: 30%;
    height: 7rem;
    background-color: var(--black);
    color: var(--white);
    outline: none;
    border-radius: 40px;
    font-family: var(--secondaryfont);
    cursor: pointer;
    font-size: large;
}

.btn:active {
    transform: translateY(5px);
}

.none {
    display: none;
}

.musicplayer {
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    background-color: var(--black-variant-2);
    position: relative
}

.btn-menu {
    position: absolute;
    height: 3rem;
    width: 8rem;
    top: 45.5rem;
    left: 3rem;
    color: var(--white);
    background-color: var(--purple);
    border-radius: 5px;
    border: 1px solid var(--blue);
    cursor: pointer;
}

.btn-menu#menu-mp {
    position: absolute;
    height: 3rem;
    width: 8rem;
    top: 2rem;
    left: 3rem;
    color: var(--white);
    background-color: var(--purple);
    border-radius: 5px;
    border: 1px solid var(--blue);
    cursor: pointer;
}

.lista-reproductor {
    width: 20%;
    height: 40rem;
    border: 1px solid var(--white);
    border-radius: 30px;
}

.reproductor {
    width: 50%;
    height: 40rem;
    border: 1px solid var(--white);
    border-radius: 30px;
    background-color: var(--black-variant);
    position: relative;
    display: inline-block;
    margin-left: 5rem;
}

p#titulo_song {
    color: var(--white);
    text-align: center;
    margin: 30px auto;
    font-family: var(--secondaryfont);
    font-size: large;
}

img#song_image {
    display: block;
    margin: 0px auto;
    width: 40rem;
    height: 22rem;
    margin-top: 60px;
    border-radius: 15px;
}

.botones {
    position: absolute;
    width: 100%;
    height: 4rem;
    bottom: 20px;
}

.botones svg {
    cursor: pointer;
}

.tiempo-music {
    width: 100%;
    height: 2rem;
    position: absolute;
    bottom: 6rem;
}

progress#progress {
    height: 0.8rem;
    background-color: var(--black);
    width: 60%;
    border-radius: 30px;
}

.icons {
    margin-top: 20px;
}

svg {
    cursor: pointer;
}

.volumen {
    width: 10%;
    height: 40rem;
    border: 1px solid var(--white);
    border-radius: 30px;
    background-color: var(--black-variant);
    position: relative;
    display: inline-block;
    overflow-x: visible;
}

.subvolumen {
    width: 20%;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    transition: all .4s;
    margin: 20px auto;
}

.subvolumen:hover {
    background-color: var(--black);
}

.bajvolumen {
    width: 20%;
    text-align: center;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    border-radius: 50px;
    left: 40%;
    transition: all .4s;
}

.bajvolumen:hover {
    background-color: var(--black);
}

progress#volumen {
    width: 240%;
    height: 1rem;
    background-color: var(--black);
    border-radius: 20px;
    border: none;
    transform: translateX(-8.3rem) translateY(15rem) rotate(-90deg);
}

p#titulo {
    position: absolute;
    left: 3rem;
}

span#svg svg {
    position: absolute;
    right: 2rem;
    bottom: 0.4rem;
    cursor: default;
}

.gamecard {
    background-color: var(--black-variant);
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    position: relative;
}

.zonatablero {
    width: 100%;
    height: 40rem;
    margin-bottom: 2rem;
}

.timer {
    width: 10%;
    height: 35rem;
    text-align: center;
}

.timer p {
    text-align: center;
}

.tablero {
    width: 85%;
    height: 35rem;
    transition: all .5s;
}

.btn-game {
    width: 15%;
    height: 3rem;
}

button {
    width: 100%;
    height: 100%;
    background-color: var(--purple);
    font-family: var(--secondaryfont);
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-size: large;
    cursor: pointer;
}

button:active {
    transform: translateY(4px);
}

.text {
    width: 20%;
    height: 5rem;
    text-align: left;
}

.btntext {
    width: 100%;
    height: 10rem;
}

.text p {
    display: inline-block;
    margin-right: 20px;
    margin-top: 15px;
}

.text span {
    display: inline-block;
    color: var(--white);
    font-family: var(--secondaryfont);
    margin-right: 7rem;
}

.rotate {
    animation: rotate .5s forwards;
}

.rotate-reverse {
    animation: rotate-reverse .5s forwards;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
}


@keyframes rotate-reverse {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

.cursor_default {
    cursor: default;
}

.cursor_pointer {
    cursor: pointer;
}

.background_nula {
    background-color: var(--blue);
}

.drop {
    animation: opacity .5s forwards;
}

@keyframes opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.no_seleccionado {
    border: 5px solid var(--purple)
}

.seleccionado {
    border: 5px solid var(--blue)
}